<p id="notice"><%= notice %></p>

<p>
  <strong>Url:</strong>
  <%= @route.url %>
</p>

<p>
  <strong>Url short:</strong>
  <%= @route.url_short %>
</p>

<%= link_to 'Edit', edit_route_path(@route) %> |
<%= link_to 'Back', routes_path %>
